<div class="uk-panel uk-container-center" style=" margin: 0 30px 15px 30px;">
    <div class="uk-width-medium-1-1 uk-form-horizontal">
        {% include templateNamespace~"formType.html.twig" with {'form': form} %}
    </div>
    <div class="uk-width-1-4"></div>
</div>

