<tr>
    <td>{{ user.nom }} </td>
    <td>{{ user.prenom }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.rolesAvailable[ user.roles[0] ] }}</td>
    <td>
        <a href="{{ path('frais_Utilisateur_update', {'id': user.id} ) }}" class="btn-action uk-icon-pencil"></a>
        <a href="{{ path('frais_Utilisateur_delete', {'id': user.id} ) }}" class="btn-action uk-icon-remove"></a>
    </td>
</tr>
