{% extends '::base.html.twig' %}

{% set title = "Liste des utilisateurs" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/components/search.gradient.min.css') }}" type="text/css"/>
{% endblock %}

{# Javascript #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/components/search.min.js') }}"></script>
    <script type="application/javascript">
        $("#search").keyup(function () {
            _this = this;
            // Show only matching TR, hide rest of them
            $.each($("#table tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        });
    </script>
    <script>
        /*
         var modal = UIkit.modal(".modalSelector");

         if ( modal.isActive() ) {
         modal.hide();
         } else {
         modal.show();
         }
         */

        $('#my-id').on({

            'show.uk.modal': function () {
                //alert("ouverture");
            },

            'hide.uk.modal': function () {
                //   alert("fermeture");
            }
        });

        function submitAjouterUtlisateurForm(event) {
            // Eviter le comportement par défaut (soumettre le formulaire)
            event.preventDefault();

            var $this = $(this);
            var configAjax = {
                method: $this.attr('method'),
                url: "{{ path("frais_Utilisateur_create") }}",
                data: new FormData($this[0]),
                datatype: 'html',
                processData: false,
                contentType: false
            };
            console.log(configAjax);

            $.ajax(configAjax)
                    .done(function (response) {
                        //alert('done');
                        if (typeof response.data !== 'undefined') {

                            $('tbody.listeUtilisateurs').append(response.data);
                            $('#my-id').hide();


                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert('fail');
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                //$('#loginform').html(jqXHR.responseJSON.form);
                                $('#loginform').replaceWith(
                                        jqXHR.responseJSON.form
                                );
                            }
                        } else {
                            alert(errorThrown);
                        }

                    })
                    .always(function () {
                    });
        }
        //quand le formulaire est soumi
        $('.ajouterUtilisateurform').submit(submitAjouterUtlisateurForm);//callback

    </script>

{% endblock %}

{% block body %}
    <!-- This is the modal -->
    <div id="my-id" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            {{ render(controller("fraisBundle:Utilisateur:create")) }}
        </div>
    </div>
    <form class="uk-search" data-uk-search="{source:'my-results.json'}">

        <input id="search" class="uk-search-field" type="search" placeholder="Chercher...">

        <div class="uk-dropdown uk-dropdown-search">
            <ul class="uk-nav uk-nav-search">...</ul>
        </div>

    </form>

    <a href="#my-id" data-uk-modal="{target:'#my-id'}" style="background: #0EC1F2 ;"
       class="uk-button-success uk-button uk-float-right"><i class="uk-icon-plus-circle"></i> Ajouter</a>

    <div class="uk-panel" style=" margin: 0 30px 15px 30px;">
        <table id="table" class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-Mail</th>
                <th>Rôle</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="listeUtilisateurs">
            {% for user in list %}
                {{ include("fraisBundle:Utilisateur:ligne_user_content.html.twig", {'user' : user}) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
