{% extends 'base.html.twig' %}

{% block body %}
    <div id="notfound"></div>
    <script src='//assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1'></script><script src='http://cdnjs.cloudflare.com/ajax/libs/svg.js/1.0.0-rc.8/svg.min.js'></script><script src='http://strangeplanet.fr/files/misc/perlin-noise-simplex.js'></script>
    <script src='404.js'></script>
    <script src='//codepen.io/assets/editor/live/css_live_reload_init.js'></script>
{% endblock %}