{% extends "fraisBundle:Comptable:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="uk-text-center">
        {{ form_start(form) }}
        <h1>Choisir l'utilisateur : </h1>
        {{ form_widget(form.user) }}
        {{ form_widget(form.ok) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
