{% extends "fraisBundle:Comptable:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <h3>Liste des fiches a valider</h3>
    {% if state is constant('fraisBundle\\Controller\\ComptableController::CAN_VALID') %}
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Ligne au Fofait</th>
                <th>Ligne hors forfait</th>
                <th>Pièce jointe</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for fiche in fiches %}
                <tr>
                    <td>{{ fiche.utilisateur }}</td>
                    <td>{{ fiche.lesLignesForfaits|length }}</td>
                    <td>{{ fiche.lesLignesHorsForfaits|length }}</td>
                    <td>{{ fiche.documents|length }}</td>
                    <td>{{ fiche.montant }}€</td>
                    <td><a href="{{ path('frais_compta_view_fiche', {'id': fiche.id}) }}"
                           class="uk-button uk-button-primary uk-button-mini">Consulter</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif state is constant('fraisBundle\\Controller\\ComptableController::CAN_NOT_VALID') %}
        <p>Vous ne pouvez valider aucun frais durant cette periode ! Les frais ce valide
            du {{ date_debut_validation_frais }} au {{ date_fin_validation_frais }}</p>
    {% else %}
        <p>Case not excepted</p>
    {% endif %}
{% endblock %}
