{% extends '::base.html.twig' %}


{% block subMenu %}
    <li><a id="elementMenu" href="{{ path('frais_compta_accueil') }}"><i class="uk-icon-cogs"></i> A traiter</a></li>
    <li><a id="elementMenu" href="{{ path('frais_compta_history') }}"><i class="uk-icon-history"></i> Historique</a>
    </li>
{% endblock %}