{% extends "fraisBundle:Comptable:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .uk-panel-box {
            background: none;
            border: none;
        }

        #mainMenu {
            padding-bottom: 50px;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block flash %}
{% endblock %}

{% block body %}
    <div class="uk-width-medium-8-10 uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-8-10">
                    <div class="fiche_base">
                        <div class="uk-panel uk-panel-block fiche_header">
                            <h3>{{ currentFiche }}</h3>
                        </div>
                        <div id="fiche_content">
                            {% for label, flashes in app.session.flashbag.all %}
                                {% for flash in flashes %}
                                    <div class="uk-margin-right uk-margin-left uk-alert uk-alert-{{ label }}">
                                        {{ flash }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <div class="uk-grid uk-margin-large-bottom">
                                <div class="uk-width-1-1 ">
                                    <dl class="uk-description-list-horizontal">
                                        <dt>Utilisateur :</dt>
                                        <dd>{{ currentFiche.utilisateur }}</dd>

                                        <dt>Etat</dt>
                                        <dd>{{ currentFiche.etat }}</dd>

                                        <dt>Montant Total :</dt>
                                        <dd>{{ currentFiche.montant }}€</dd>

                                        <dt>Montant Validé :</dt>
                                        <dd>{{ currentFiche.montantValide }}€</dd>
                                    </dl>
                                    <blockquote>
                                        <p>Forfait</p>
                                    </blockquote>
                                    <table class="uk-table">
                                        <thead>
                                        <tr class="uk-text-upper">
                                            <th>Date</th>
                                            <th>Forfait</th>
                                            <th>Quantité</th>
                                            <th>Montant Total</th>
                                            <th>Etat</th>
                                            <th style="width: 150px;"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ligneForfait in currentFiche.lesLignesForfaits %}
                                            <tr class="uk-table-middle">
                                                <td>{{ ligneForfait.dateCreation | date('d/m/Y') }}</td>
                                                <td>{{ ligneForfait.idFraisForfait.region }}
                                                    > {{ ligneForfait.idFraisForfait.libelle }}</td>
                                                <td>{{ ligneForfait.quantite }}</td>
                                                <td>{{ ligneForfait.montant }}€</td>
                                                <td>{{ ligneForfait.etat }}</td>
                                                <td>
                                                    {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CLOSE') and (
                                                    ligneForfait.etat == constant('\\fraisBundle\\Ref\\EtatLigne::CREATE') or
                                                    ligneForfait.etat == constant('\\fraisBundle\\Ref\\EtatLigne::WAIT_DOCUMENTS')
                                                    ) %}
                                                        <a href="{{ path('frais_compta_manage_line_forfait', {
                                                            'id': ligneForfait.id,
                                                            'state': constant('\\fraisBundle\\Ref\\EtatLigne::VALID')
                                                        }) }}" title="Valider" class="uk-button uk-button-success"><i
                                                                    class="uk-icon-check"></i></a>

                                                        <a href="{{ path('frais_compta_manage_line_forfait', {
                                                            'id': ligneForfait.id,
                                                            'state': constant('\\fraisBundle\\Ref\\EtatLigne::REFUSE')
                                                        }) }}" title="Refuser" class="uk-button uk-button-danger"><i
                                                                    class="uk-icon-remove"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td class="uk-text-center" colspan="5">Aucune ligne de frais n'a été
                                                    saisie
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    <br/><br/><br/>

                                    <blockquote>
                                        <p>Hors-Forfait</p>
                                    </blockquote>
                                    <table class="uk-table">
                                        <thead>
                                        <tr class="uk-text-upper">
                                            <th>Date</th>
                                            <th>Libellé</th>
                                            <th>Montant</th>
                                            <th>Etat</th>
                                            <th style="width: 150px;"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ligneHorsForfait in currentFiche.lesLignesHorsForfaits %}
                                            <tr class="uk-table-middle">
                                                <td>{{ ligneHorsForfait.dateCreation | date('d/m/Y') }}</td>
                                                <td>{{ ligneHorsForfait.libelle }}</td>
                                                <td>{{ ligneHorsForfait.montant }}</td>
                                                <td>{{ ligneHorsForfait.etat }}</td>
                                                <td>
                                                    {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CLOSE') and (
                                                    ligneHorsForfait.etat == constant('\\fraisBundle\\Ref\\EtatLigne::CREATE') or
                                                    ligneHorsForfait.etat == constant('\\fraisBundle\\Ref\\EtatLigne::WAIT_DOCUMENTS')
                                                    ) %}
                                                        <a href="{{ path('frais_compta_manage_line_hors_forfait', {
                                                            'id': ligneHorsForfait.id,
                                                            'state': constant('\\fraisBundle\\Ref\\EtatLigne::VALID')
                                                        }) }}" title="Valider" class="uk-button uk-button-success"><i
                                                                    class="uk-icon-check"></i></a>

                                                        <a href="{{ path('frais_compta_manage_line_hors_forfait', {
                                                            'id': ligneHorsForfait.id,
                                                            'state': constant('\\fraisBundle\\Ref\\EtatLigne::REFUSE')
                                                        }) }}" title="Refuser" class="uk-button uk-button-danger"><i
                                                                    class="uk-icon-remove"></i></a>

                                                        <a href="{{ path('frais_compta_manage_line_hors_forfait', {
                                                            'id': ligneHorsForfait.id,
                                                            'state': constant('\\fraisBundle\\Ref\\EtatLigne::WAIT_DOCUMENTS')
                                                        }) }}" title="Reporter au mois suivant"
                                                           class="uk-button uk-button-primary"><i
                                                                    class="uk-icon-arrow-right"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td class="uk-text-center" colspan="5">Aucune ligne de frais n'a été
                                                    saisie
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="uk-margin-large-top uk-width-1-1">
                                <blockquote>
                                    <p>Pièces justificatives</p>
                                </blockquote>
                                <table class="uk-table">
                                    <thead>
                                    <tr class="uk-text-upper">
                                        <th>Nom du document</th>
                                        <th>Date d'ajout</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for document in currentFiche.documents %}
                                        <tr class="uk-table-middle">
                                            <td>
                                                <a href="{{ vich_uploader_asset(document, 'fichier') }}">{{ document.nom }}</a>
                                            </td>
                                            <td>
                                                {{ document.dateModification|localizeddate('medium', 'none') }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="2">Aucune pièce justificative</td>
                                        </tr>
                                    {% endfor %}
                                    {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                        {{ form_start(formDocument) }}
                                        <tr class="uk-table-middle">
                                            <td>{{ form_widget(formDocument.fichier) }}</td>
                                            <td>{{ form_widget(formDocument.submit, {'attr': {'class': 'uk-padding-remove uk-icon-button uk-icon-download'} }) }}</td>
                                        </tr>
                                        {{ form_end(formDocument) }}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="uk-margin-large-top uk-width-1-1 ">
                                <blockquote>
                                    <p>Commentaire</p>
                                </blockquote>
                                <p>{{ currentFiche.commentaire|nl2br }}</p>
                            </div>
                        </div>
                    </div>
            </div>

            <!-- Navigation -->
            <div id="fiche_nav" class="uk-width-large-2-10 uk-visible-large">

                <ul class="uk-nav uk-nav-side">
                    <li class="uk-text-center">Liste des fiches de frais</li>
                    {% for fiche in listFiche %}
                        {% if fiche == currentFiche %}
                            <li class="uk-active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ path('frais_compta_view_fiche', {'id': fiche.id}) }}">{{ fiche }}
                            <span id="etat" class="uk-badge uk-badge-success uk-float-right">{{ fiche.etat }}</span>
                        </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
