/*! UIkit 2.24.3 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Sticky
 ========================================================================== */
/*
 * 1. More robust if padding and border are used
 */
[data-uk-sticky].uk-active {
  z-index: 980;
  /* 1 */
  box-sizing: border-box;
}
/*
 * 1. Resolve frame-rate issues on devices with lower frame-rates. Forces hardware acceleration
 */
.uk-sticky-placeholder > * {
  /* 1 */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/*
 * Faster animations
 */
[data-uk-sticky][class*='uk-animation-'] {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
[data-uk-sticky].uk-animation-reverse {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
