<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}GSB{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ app.request.scheme ~ '://'~ app.request.httpHost ~ asset('css/uikit.gradient.min.css') }}">
        <link rel="stylesheet" href="{{ app.request.scheme ~ '://'~ app.request.httpHost ~ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ app.request.scheme ~ '://'~ app.request.httpHost ~ asset('css/components/datepicker.min.css') }}">
        <link rel="stylesheet" href="{{ app.request.scheme ~ '://'~ app.request.httpHost ~ asset('css/jquery.mCustomScrollbar.min.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
<nav id="mainMenu" class="uk-navbar">

    <a href="{{ path('frais_homepage') }}" class="uk-navbar-brand">
        <img src="{{ app.request.scheme ~ '://'~ app.request.httpHost ~ asset("image/header.png") }}" id="logonav">
        Galaxy Swiss Bourdin - {{ date('now')|localizeddate('full', 'none') }}
    </a>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                {% block subMenu %}
                    {% if is_granted("ROLE_ADMINISTRATEUR") %}
                        <li><a id="elementMenu" href="{{ path('frais_Utilisateur_list') }}"><i class="uk-icon-user"></i> Utilisateur</a></li>
                        <li><a id="elementMenu" href="{{ path('frais_FraisForfait_list') }}"><i class="uk-icon-eur"></i> Forfait</a></li>
                    {% endif %}
                {% endblock %}
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li data-uk-dropdown="{pos:'bottom-right'}" class="uk-parent" aria-haspopup="true" aria-expanded="false">
                        <a id="elementMenu" class="user_action_image" href="#"><img id="logonav" alt="" src="{{ app.request.scheme ~ '://'~ app.request.httpHost ~ asset("image/index.png") }}" class="uk-border-circle "> {{ app.user }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left:0px;">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
</nav>
{% block flash %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="uk-margin-right uk-margin-left uk-alert uk-alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

<div class="uk-panel uk-panel-box uk-container-center uk-width-1-1">
    {% block body %}

    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/uikit.min.js') }}"></script>
    <script src="{{ asset('js/components/datepicker.min.js') }}"></script>
    <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script>
        var mois = ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'];
        var semaine = ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'];
        var d = new Date();
        //var debut = "11" + "/" + "0" + d.getMonth() + "/" +  d.getFullYear();
        var fin = 0;
        UIkit.datepicker("#ligne_forfait_dateCreation",
                {
                    format:"DD/MM/YYYY",
                    i18n: {
                        months: mois,
                        weekdays: semaine
                    },
                    //minDate: debut,
                    maxDate: fin
                });
        UIkit.datepicker("#ligne_hors_forfait_dateCreation",
                {
                    format:"DD/MM/YYYY",
                    i18n: {
                        months: mois,
                        weekdays: semaine
                    },
                    //minDate: debut,
                    maxDate: fin
                });
    </script>
{% endblock %}
</body>
</html>
