{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 250px;">

            <img class="uk-margin-bottom" width="140" height="120" src="{{ asset('image/header.png') }}" alt="">

            {% if error %}
                <div class="uk-alert uk-alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="uk-panel uk-panel-box uk-form" action="{{ path("fos_user_security_check") }}" method="post">
                <span>Identifiants de connexion</span>
                <p>Administrateur</p>
                <dl class="uk-description-list-horizontal uk-text-right">
                    {% for user in admins %}
                        <dt>{{ user.username }}</dt>
                        <dd>aa</dd>
                    {% endfor %}
                </dl>

                <p>Comptable</p>
                <dl class="uk-description-list-horizontal uk-text-right">
                    {% for user in comptas %}
                        <dt>{{ user.username }}</dt>
                        <dd>aa</dd>
                    {% endfor %}
                </dl>

                <p>Utilisateur</p>
                <dl class="uk-description-list-horizontal uk-text-right">
                    {% for user in users %}
                        <dt>{{ user.username }}</dt>
                        <dd>aa</dd>
                    {% endfor %}
                </dl>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="text"
                           name="_username" value="{{ last_username }}" required="required"
                           placeholder="{{ 'security.login.username'|trans }}">
                </div>
                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="password" name="_password" required="required"
                           placeholder="{{ 'security.login.password'|trans }}">
                </div>
                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" id="_submit"
                           name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                </div>
                <div class="uk-form-row uk-text-small">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
