{% extends '::base.html.twig' %}

{% set title = "Éditer" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="uk-panel uk-container-center" style=" margin: 0 30px 15px 30px;">
        <div class="uk-width-large-1-2 uk-width-medium-1-1 uk-container-center uk-form-horizontal">
            {{ form_start(edit_form, { 'attr': {'class': 'uk-form-stacked'}} ) }}
            {% for key,item in edit_form.children %}
                {% if key not in ['back', 'save'] %}
                    {{ form_row(item) }}
                {% endif %}
            {% endfor %}
            <div class="uk-margin-top">
                <a href="{{ path("frais_visiteur_accueil") }}">Retour à l'accueil</a>
                {{ form_widget(edit_form.save, { 'attr': {'class': 'uk-button-primary'}}) }}
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}