{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .uk-panel-box {
            background: none;
            border: none;
        }

        #mainMenu {
            padding-bottom: 50px;
        }
    </style>
{% endblock %}

{% block flash %}
{% endblock %}

{% block body %}
    <div class="uk-width-medium-8-10 uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-8-10">
                <div class="fiche_base">
                    <div class="uk-panel uk-panel-block fiche_header">
                        <h3>{{ currentFiche }}</h3>
                        <div id="icontools" class="uk-float-right">
                            Total : {{ currentFiche.montant }} € | Total validé : {{ currentFiche.montantValide }} €
                            <a href="{{ path('frais_visiteur_pdf', {'month': currentFiche.dateAction|date('n'), 'year': currentFiche.dateAction|date('Y')} ) }}" alt="Export PDF de la fiche" title="Export PDF de la fiche"><i class="uk-icon-button uk-icon-file-pdf-o"></i></a>
                        </div>
                    </div>

                    <div id="fiche_content">
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="uk-margin-right uk-margin-left uk-alert uk-alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="uk-grid uk-margin-large-bottom">
                            <div class="uk-width-1-1">

                                {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                    {{ form_start(formLigneForfait) }}
                                {% endif %}
                                <blockquote>
                                    <p>Forfait</p>
                                </blockquote>
                                <table class="uk-table">
                                    <thead>
                                    <tr class="uk-text-upper">
                                        <th>Date</th>
                                        <th>Forfait</th>
                                        <th>Quantité</th>
                                        <th>Montant par ligne</th>
                                        <th>Etat</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for ligneForfait in currentFiche.lesLignesForfaits %}
                                        <tr class="uk-table-middle">
                                            <td>{{ ligneForfait.dateCreation | date('d/m/Y') }}</td>
                                            <td>{{ ligneForfait.idFraisForfait.region }}
                                                > {{ ligneForfait.idFraisForfait.libelle }}</td>
                                            <td>{{ ligneForfait.quantite }}</td>
                                            <td>{{ ligneForfait.montant }}€</td>
                                            <td><span id="etat" class="uk-badge">{{ ligneForfait.etat }}</span></td>
                                            <td>
                                                {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                                    <a href="{{ path('frais_visiteur_ligne_forfait_edit', {'id': ligneForfait.id} ) }}" class="uk-button uk-padding-remove uk-icon-button uk-icon-pencil"></a>
                                                    <a href="{{ path('frais_visiteur_ligne_forfait_delete', {'id': ligneForfait.id} ) }}" class="uk-button uk-button-danger uk-padding-remove uk-icon-button uk-icon-remove"></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="uk-text-center" colspan="5">Aucune ligne de frais n'a été
                                                saisie
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                        <tr class="uk-table-middle">
                                            <td>{{ form_widget(formLigneForfait.dateCreation, {'attr': {'style': 'width:85px;'} }) }}</td>
                                            <td>{{ form_widget(formLigneForfait.idFraisForfait) }}</td>
                                            <td>{{ form_widget(formLigneForfait.quantite, {'attr': {'style': 'width:60px;'} }) }}</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ form_widget(formLigneForfait.submit, {'attr': {'class': 'uk-padding-remove uk-icon-button uk-icon-plus'} }) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Montant global forfait</td>
                                            <td><b>{{ currentFiche.montantForfait }} €</b></td>
                                            <td>Montant validé forfait</td>
                                            <td><b>{{ currentFiche.montantForfaitValide }} €</b></td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <br/><br/><br/>

                                {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                    {{ form_end(formLigneForfait) }}
                                    {{ form_start(formLigneHorsForfait) }}
                                {% endif %}

                                <blockquote>
                                    <p>Hors-Forfait</p>
                                </blockquote>
                                <table class="uk-table">
                                    <thead>
                                    <tr class="uk-text-upper">
                                        <th>Date</th>
                                        <th>Libellé</th>
                                        <th>Montant par ligne</th>
                                        <th>Etat</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ligneHorsForfait in currentFiche.lesLignesHorsForfaits %}
                                        <tr class="uk-table-middle">
                                            <td>{{ ligneHorsForfait.dateCreation | date('d/m/Y') }}</td>
                                            <td>{{ ligneHorsForfait.libelle }}</td>
                                            <td>{{ ligneHorsForfait.montant }}</td>
                                            <td><span id="etat" class="uk-badge">{{ ligneHorsForfait.etat }}</span></td>
                                            <td>
                                                {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                                    <a href="{{ path('frais_visiteur_ligne_hors_forfait_edit', {'id': ligneHorsForfait.id} ) }}" class="uk-button uk-padding-remove uk-icon-button uk-icon-pencil"></a>
                                                    <a href="{{ path('frais_visiteur_ligne_hors_forfait_delete', {'id': ligneHorsForfait.id} ) }}" class="uk-button uk-button-danger uk-padding-remove uk-icon-button uk-icon-remove"></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="uk-text-center" colspan="5">Aucune ligne de frais n'a été
                                                saisie
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                        <tr class="uk-table-middle">
                                            <td>{{ form_widget(formLigneHorsForfait.dateCreation, {'attr': {'style': 'width:85px;'} }) }}</td>
                                            <td>{{ form_widget(formLigneHorsForfait.libelle) }}</td>
                                            <td>{{ form_widget(formLigneHorsForfait.montant, {'attr': {'style': 'width:80px;'} }) }}
                                                €
                                            </td>
                                            <td></td>
                                            <td>{{ form_widget(formLigneHorsForfait.submit, {'attr': {'class': 'uk-padding-remove uk-icon-button uk-icon-plus'} }) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Montant global hors forfait</td>
                                            <td><b>{{ currentFiche.montantHorsForfait }} €</b></td>
                                            <td>Montant validé hors forfait</td>
                                            <td><b>{{ currentFiche.montantHorsForfaitValide }} €</b></td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>

                                {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                    {{ form_end(formLigneHorsForfait) }}
                                {% endif %}

                            </div>
                        </div>
                        <div class="uk-margin-large-top uk-width-1-1">
                            <blockquote>
                                <p>Pièces justificatives</p>
                            </blockquote>
                            <table class="uk-table">
                                <thead>
                                <tr class="uk-text-upper">
                                    <th>Nom du document</th>
                                    <th style="width: 100px;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for document in currentFiche.documents %}
                                    <tr class="uk-table-middle">
                                        <td>
                                            <a href="{{ vich_uploader_asset(document, 'fichier') }}">{{ document.nom }}</a>
                                        </td>
                                        <td>
                                            {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                                <a href="{{ path('frais_visiteur_document_delete', {'id': document.id} ) }}"
                                                   class="uk-button uk-button-danger uk-padding-remove uk-icon-button uk-icon-trash"></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">Aucune pièce justificative</td>
                                    </tr>
                                {% endfor %}
                                {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                    {{ form_start(formDocument) }}
                                    <tr class="uk-table-middle">
                                        <td>{{ form_widget(formDocument.fichier) }}</td>
                                        <td>{{ form_widget(formDocument.submit, {'attr': {'class': 'uk-padding-remove uk-icon-button uk-icon-download'} }) }}</td>
                                    </tr>
                                    {{ form_end(formDocument) }}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="uk-margin-large-top">
                            <blockquote>
                                <p>Commentaire</p>
                            </blockquote>
                            <table class="uk-table">
                                <thead>
                                <th></th>
                                <th style="width: 100px;"></th>
                                </thead>
                                <tbody>
                                {% if currentFiche.etat == constant('\\fraisBundle\\Ref\\EtatFiche::CREATE') %}
                                    {{ form_start(formCommentaire) }}
                                    <tr class="uk-table-middle">
                                        <td>{{ form_widget(formCommentaire.commentaire, {'attr': {'class': 'uk-width-1-1'}}) }}</td>
                                        <td>{{ form_widget(formCommentaire.submit, {'attr': {'class': 'uk-padding-remove uk-icon-button uk-icon-comment'} }) }}</td>
                                    </tr>
                                    {{ form_end(formCommentaire) }}
                                {% else %}
                                    <p>{{ currentFiche.commentaire|nl2br }}</p>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div id="fiche_nav" class="uk-width-large-2-10 uk-visible-large">

                <ul class="uk-nav uk-nav-side">
                    <li class="uk-text-center">Liste des fiches de frais</li>
                    {% for fiche in listFiche %}
                        {% if fiche == currentFiche %}
                            <li class="uk-active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ path('frais_visiteur_view_fiche', {'month': fiche.dateAction|date('n'), 'year': fiche.dateAction|date('Y')} ) }}">{{ fiche }}
                            <span id="etat" class="uk-badge uk-badge-success uk-float-right">{{ fiche.etat }}</span>
                        </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
