{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .uk-panel-box {
            background: none;
            border: none;
        }

        #mainMenu {
            padding-bottom: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="uk-width-medium-8-10 uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-8-10">
                <div class="fiche_base">
                    <div class="uk-panel uk-panel-block fiche_header">
                        <h3>{{ currentFiche }}</h3>
                    </div>

                    <div id="fiche_content">
                        <div class="uk-grid uk-margin-large-bottom">
                            <div class="uk-width-1-1">
                                <blockquote>
                                    <p>Forfait</p>
                                </blockquote>
                                <table class="uk-table">
                                    <thead>
                                    <tr class="uk-text-upper">
                                        <th>Date</th>
                                        <th>Forfait</th>
                                        <th>Quantité</th>
                                        <th>Montant par ligne</th>
                                        <th>Etat</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for ligneForfait in currentFiche.lesLignesForfaits %}
                                        <tr class="uk-table-middle">
                                            <td>{{ ligneForfait.dateCreation | date('d/m/Y') }}</td>
                                            <td>{{ ligneForfait.idFraisForfait.region }}
                                                > {{ ligneForfait.idFraisForfait.libelle }}</td>
                                            <td>{{ ligneForfait.quantite }}</td>
                                            <td>{{ ligneForfait.montant }}€</td>
                                            <td><span id="etat" class="uk-badge">{{ ligneForfait.etat }}</span></td>
                                            {% if ligneForfait.etat == constant('\\fraisBundle\\Ref\\EtatLigne::VALID') %}
                                            {% endif %}
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="uk-text-center" colspan="5">Aucune ligne de frais n'a été
                                                saisie
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br/><br/><br/>

                                <blockquote>
                                    <p>Hors-Forfait</p>
                                </blockquote>
                                <table class="uk-table">
                                    <thead>
                                    <tr class="uk-text-upper">
                                        <th>Date</th>
                                        <th>Libellé</th>
                                        <th>Montant par ligne</th>
                                        <th>Etat</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ligneHorsForfait in currentFiche.lesLignesHorsForfaits %}
                                        <tr class="uk-table-middle">
                                            <td>{{ ligneHorsForfait.dateCreation | date('d/m/Y') }}</td>
                                            <td>{{ ligneHorsForfait.libelle }}</td>
                                            <td>{{ ligneHorsForfait.montant }}</td>
                                            <td><span id="etat" class="uk-badge">{{ ligneHorsForfait.etat }}</span></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="uk-text-center" colspan="5">Aucune ligne de frais n'a été
                                                saisie
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="uk-margin-large-top">
                                <blockquote>
                                    <p>Pièces justificatives</p>
                                </blockquote>
                                <table class="uk-table">
                                    {% if (currentFiche.documents|length != 0) %}
                                    <thead>
                                    <tr class="uk-text-upper">
                                        <th>Nom du document</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% else %}
                                        Aucune pièce justificative
                                    {% endif %}
                                    {% for document in currentFiche.documents %}
                                        <tr class="uk-table-middle">
                                            <td><a href="{{ vich_uploader_asset(document, 'fichier') }}">{{ document.nom }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}