body {
    background: url('../image/back.png');
    min-height: 100%;
}
html {
    height: 100%;
}

#logonav {
    height: 30px;
    margin: 5px 0;
}

#mainMenu {
    background: #525657;
    border: none;
    border-radius: 0;
}

#mainMenu .uk-navbar-brand {
    color: white;
    text-decoration: none;
    text-shadow: none;
}

#elementMenu {
    color: white;
    text-decoration: none;
    text-shadow: none;
}

.btn-action {
    font-size: 18px;
    line-height: 32px !important;
    height: 32px !important;
    color: #727272;
    border-radius: 50%;
    cursor: pointer;
    transition: background 280ms ease-out 0s, color 280ms ease-out 0s;
    width: 32px !important;
    text-align: center;
}

.btn-action:hover {
    background: rgba(50,50,50,0.2);
    color: grey;
}

/* Visiteur */

#secondaryMenu{
    background: #525657;
    border: none;
    border-radius: 0;
    padding-bottom: 20px;
}

#icontools{
    margin-top: -40px;
}

.fiche_header{
    margin-top:-56px;
    background: #FFF;
    border-radius: 0;
    height : 35px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.fiche_base{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    border: medium none;
    background: #FFF;
    padding-left: 0px;
}

#fiche_content{
    padding: 16px;
}

#fiche_nav{
    padding-left: 1px;
}
.fiche_select{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.uk-nav-side > li > a{
    height: 53px;
    color: #000000;
    background-color: #ECECEC;

}

.uk-nav-side > li.uk-active > a{
    height: 53px;
    color: #fff;
    background-color: #00a8e6;
    box-shadow: none;
}

.uk-nav-side > li > a:hover{
    background-color: #00a8e6;
    color: #ffffff;
}

#etat{
    padding: 2px 6px;
    background-image: none;
}


/* /FIN Visiteur */