{{ form_start(form, { 'attr': {'class': 'uk-form-stacked'}} ) }}
{% for key,item in form.children %}
    {% if key not in ['back', 'save'] %}
        {{ form_row(item) }}
    {% endif %}
{% endfor %}
<div class="uk-margin-top">
    <a href="{{ path(listRoute) }}">{{ form_widget(form.back) }}</a>
    {{ form_widget(form.save, { 'attr': {'class': 'uk-button-primary'}}) }}
</div>
{{ form_end(form) }}