{% extends '::base.html.twig' %}

{% set title = "Liste des forfaits" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/components/search.gradient.min.css') }}" type="text/css"/>
{% endblock %}

{# Javascript #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/components/search.min.js') }}"></script>
    <script type="application/javascript">
        $("#search").keyup(function () {
            _this = this;
            // Show only matching TR, hide rest of them
            $.each($("#table tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        });
    </script>
{% endblock %}

{% block body %}
    <form class="uk-search" data-uk-search="{source:'my-results.json'}">

        <input id="search" class="uk-search-field" type="search" placeholder="Chercher...">

        <div class="uk-dropdown uk-dropdown-search">
            <ul class="uk-nav uk-nav-search">...</ul>
        </div>

    </form>

    <a href="{{ path('frais_FraisForfait_create') }}" style="background: #0EC1F2 ;"
       class="uk-button-success uk-button uk-float-right"><i class="uk-icon-plus-circle"></i> Ajouter</a>

    <div class="uk-panel" style=" margin: 0 30px 15px 30px;">
        <table id="table" class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Région</th>
                <th>Montant</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for forfait in list %}
                <tr>
                    <td>{{ forfait.libelle }}</td>
                    <td>{{ forfait.region }}</td>
                    <td>{{ forfait.montant }}</td>
                    <td>
                        <a href="{{ path('frais_FraisForfait_update', {'id': forfait.idFraisForfait} ) }}"
                           class="btn-action uk-icon-pencil"></a>
                        <a href="{{ path('frais_FraisForfait_delete', {'id': forfait.idFraisForfait} ) }}"
                           class="btn-action uk-icon-remove"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
