{% extends '::base.html.twig' %}

{% set title = "Éditer" %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/MY_NAME.css') }}" type="text/css"/> #}
{% endblock %}

{# Javascript #}
{% block javascripts %}
    {{ parent() }}
    {# <script type="text/javascript" src="{{ asset('js/FILENAME.js') }}"></script> #}
{% endblock %}

{% block body %}
    <div class="uk-panel uk-container-center" style=" margin: 0 30px 15px 30px;">
        <div class="uk-width-large-1-2 uk-width-medium-1-1 uk-container-center uk-form-horizontal">
            {% include templateNamespace~"formType.html.twig" with {'form': form} %}
        </div>
        <div class="uk-width-1-4"></div>
    </div>
{% endblock %}
