{% extends '::base.html.twig' %}

{% set title = "NAME HERE" %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/MY_NAME.css') }}" type="text/css"/> #}
{% endblock %}

{# Javascript #}
{% block javascripts %}
    {{ parent() }}
    {# <script type="text/javascript" src="{{ asset('js/FILENAME.js') }}"></script> #}
{% endblock %}

{% block body %}
    entity : {{ entity }}
    nom : {{ entity.nom }}
{% endblock %}
